body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding-top: 56px;
	/*background-color: #156082;
	padding-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
	height: 100vh;*/
}
.navbar {
  	background-color: #003554; /* Dark background color */
}
.navbar-brand {
  	padding: 0;
}
.navbar-brand img {
  max-height: 100%;
}
.navbar-nav .nav-link {
  color: #fff; /* White text color */
  margin-right: 15px; /* Increased space between menu items */
}
#user-name {
  color: #fff;
  margin-right: 20px; /* Adjust as needed */
}
.form-container {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
/*  max-width: 900px;*/
/*  margin: auto;*/
  margin-top: 50px;
  margin-bottom: 50px;
}
.step {
  display: none;
}
.step.active {
  display: block;
}
.selected-options {
  margin-top: 20px;
}
.remove-option-btn {
  cursor: pointer;
}

.form-control, 
.btn {
	border-radius: 0px;
}
.btn-primary {
	background: #156082;
	border-color: #156082;
}
.btn-primary:hover {
	background: #216e91;
	border-color: #216e91;
}
.prev, .next, .submit {
	margin-top: 50px;
}
#selectedOptionsList li {
	margin-bottom: 10px;
}
*:focus {
    box-shadow: none !important;
    border-color: #156082 !important;
}
#user-name {
    color: #fff;
    margin-right: 20px; /* Adjust as needed */
}
#user-image {
    border-radius: 50%;
    max-height: 40px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
}
/* task assignment */
.user-box {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
.task-box {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background-color: #dc3545;
  border-color: #dc3545;
}

.user-image {
  width: 70px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  border-radius: 50%;
  /* margin-right: 10px; */
}

/*responsive*/
@media only screen and (min-width: 768px){
	.both-btn .prev, 
	.both-btn .next,
	.both-btn .submit {
		width: 25%!important;
	}
  .further-person button {
    width: 20%;
  }
  /* .ls-ml-10 {
    margin-left: 10px;
  }
  #taskList th, #taskList td {
    text-align: center;
  } */
}
@media only screen and (max-width: 768px){
  ul.navbar-nav.ml-auto {
    position: relative;
  }
  img#user-image {
    float: right;
    position: absolute;
    max-height: 55px;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
  }
  .actionBtn {
    width: 50%;
  }
  /* .m-ml-5 {
    margin-left: 5px;
  } */
}